.hd {
  position: fixed;
  display: flex;
  /* background: lightcoral; */
  width: 100%;
  height: 80px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.hd h2 {
  color: black;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  /* margin-top: 30px; */
}

.menu {
  display: flex;
  gap: 10px;
  /* background-color: aqua; */
  margin-right: 20px;
  color: gray;
  font-size: 18px;
}

main {
  padding-top: 110px;
}
.txt01 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  /* background: red; */
  line-height: 1.2;
}

.txt02 {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  /* background: blue; */
  margin-bottom: 15px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container .box {
  width: 250px;
  height: 250px;
  /* background-color: lightcoral; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.box:first-child {
  background-color: lightcoral;
}

.box:nth-child(2) {
  background-color: orange;
}

.box:nth-child(3) {
  background-color: rgb(2, 122, 116);
}

.box:last-child {
  background-color: rgb(17, 148, 192);
}

section {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  /* background-color: orange; */
  padding: 25px;
  border: 1px solid gray;
}

.card img {
  width: 100%;
}

.txt03 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.txt04 {
  margin-top: 10px;
}

@media (max-width: 1100px) {
  .container {
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    gap: 25px;
    padding: 25px;
  }

  .hd {
    flex-direction: column;
  }

  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }

  .container .box {
    width: 200px;
    height: 200px;
  }

  section {
    grid-template-columns: repeat(1, 1fr);
  }
}
