* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: linear-gradient(90deg, rgb(255, 98, 0), rgb(251, 109, 133));
}

/* .bg {
  background-color: rgb(255, 102, 0);
  width: 1000%;
  height: 100vh;
} */

.box_01 {
  width: 300px;
  height: 430px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.1);
}

.circle {
  border: 2px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  background-image: url(img/hui.png);
  background-size: cover;
}

.txt_01 {
  font-size: 30px;
  margin-top: 15px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.txt_02 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}
.box_02 {
  background-color: white;
  width: 250px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
}

.box_03 {
  width: 250px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.txt_001 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
}

.txt_002 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
  color: white;
}
